@{
    ViewData["Title"] = "Сообщения";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/MessageForm.css">
<form id="emailForm" action="/Home/SendEmail" method="post">
    
    <input type="email" name="Email" placeholder="Отправить сообщение" required class="input-field" />
    <input type="text" name="Subject" placeholder="Тема" required class="input-field" />
    <textarea name="message" placeholder="Сообщение" required class="textarea-field"></textarea>
    <button type="submit" class="send-button">Отправить</button>
</form>